.main-content {
    margin-top: 16px;
    display: grid;
}

/* src/styles/MainContent.css */

.main-content {
    padding: 20px;
  }
  
  .product-chart {
    margin-bottom: 20px;
  }
  
  .product-grid table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-grid th, .product-grid td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .product-grid th {
    background-color: #f4f4f4;
  }
  