/* profile.css */
.profile {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .profile {
      padding: 5px;
    }
  }
  